<div class="container">
  <div class="row home">
    <div class="col s12 m12 l12 xl12 contents">
      <!-- Bloc recherche -->
      <div class="row">
        <div class="col s12 m12 l12 xl12 bloc-recherche">
          <h2 class="title-recherche">Trouver les meilleures offres</h2>
          <div class="form-recherche">
            <div class="input-field col s6 m3 l3 xl3">
              <input placeholder="Où cherchez-vous" type="text" class="lieu">
            </div>
            <div class="input-field col s6 m4 l4 xl4">
              <input placeholder="Quelle date" type="text" class="datepicker date-recherche">
            </div>
            <div class="input-field col s12 m3 l3 xl3">
              <select class="mdb-select colorful-select dropdown-danger" multiple>
                <option value="" disabled>Que cherchez-vous</option>
                <option *ngFor="let types of typesDemandes" [value]="types">{{types}}</option>
              </select>
            </div>
            <div class="input-field col s12 m2 l2 xl2">
              <button class="btn green waves-effect waves-light" type="submit" name="action"><i class="mdi-action-perm-identity"></i> Rechercher</button>
            </div>
          </div>
        </div>
      </div>
                      
      <!-- Bloc offre -->
      <div class="row bloc-offre"> 
      </div>
    </div>
  </div>
</div>

      






